/* body {
    background: rgb(66,191,183);
    background: radial-gradient(circle, rgba(66,191,183,1) 1%, rgba(168,244,237,1) 52%, rgba(3,146,180,1) 100%);
} */

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    background-color: black;
    color: aliceblue;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: purple;
    color: aliceblue;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    width: 750px;
    height: 20vh;
    margin-top: 250px;
}

.country-selector {
    display: flex;
    background-color: orange;
    height: 50px;
    margin: 20px 30px;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    width: 45%;
}

.country-selector label {
    padding-right: 10px;
    
}

.city-selector {
    display: flex;
    background-color: red;
    margin: 20px 30px;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    padding: 50px;
    width: 45%;
}

.city-selector label {
    padding-right: 10px;
}

.weather-data {
    display: flex;
    flex-direction: column;
    background-color: purple;
    color: aliceblue;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    width: 750px;
    height: 25vh;
}

#country-selector {
    width: 300px;
}

#city-selector {
    width: 300px;
}